* { 
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

body {
    background-color: rgb(91, 212, 91);
}

.titulo {
    color: white;
}

.titulo2 {
    color: rgb(11, 103, 11);
    font-family: ;
}


h2 {
    color: white;
}

p {
    color: white;
}


