@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


* { 
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

body {
    background-color: rgb(91, 212, 91);
}

.titulo {
    color: white;
    font-family: "Nerko One", cursive;
    position: relative;
    top: -30px;
}

.titulo2 {
    color: rgb(11, 103, 11);
    font-family: "Sevillana", cursive;
    position: relative;
    top: -50px
}


h2 {
    color: white;
}

p {
    color: white;
    font-family: "Oswald", sans-serif;
}

.text {
    width: 500px;
    left: 20
}